{% import "macros/nav.html" as nav %}
{% import "macros/pagination.html" as pagination %}
{% import "macros/lists.html" as lists %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                {{ config.title }}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{{ get_url(path="styles.css", cachebust=true) }}">
    </head>
    <body>
        <div class="px-5 md:px-0 md:w-2/3 xl:w-2/5 mx-auto">
            {% block header %}
                {{ nav::header() }}
            {% endblock header %}

            <div>
                {% block main %}
                    {{ lists::list_pages() }}
                {% endblock main %}
            </div>

            {% block pagination %}
                {{ pagination::paginate() }} 
            {% endblock pagination %}
        </div> 
    </body>
</html>
